<header>
    <h1>WatchList Creator</h1>
    <%= cl_image_tag("wp5609760-the-witcher-henry-cavill-uhd-wallpapers_ohq4aj",
      width: 400, height: 300, crop: :fill) %>
</header>
<main>
    <h2>Movie Lists</h2>
    <%= cl_image_tag("downlosad_lxwbboD",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
  <ul class="list-cards">
    <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list) %>
      </li>
    <% end %>
    <li class="add-list">
      <%= link_to 'add list', new_list_path %>
    </li>
  </ul>
</main>
